.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg-success {
    background-color: #d4edda !important;
}

.text-white {
    color: #fff !important;
}

.text-decoration-line-through {
    text-decoration: line-through;
}


/* src/App.css */

.weather {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.weather h2 {
    margin: 0;
}

.weather p {
    margin: 5px 0;
}


/* src/App.css */

.container {
    max-width: 600px;
}

.ListGroup-item {
    cursor: pointer;
}